* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: #223049;
  color: rgb(207, 217, 226);
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 175%;
}

h1,
h2 {
  margin: 10px;
}

li {
  display: inline;
  padding: 20px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

#portfolio {
  scroll-margin-top: 75px;
}

a:hover {
  color: black;
}
a:active {
  color: #772014;
}

.projects img:hover {
  box-shadow: 7px 7px 15px green;
}

header {
  background-color: green;
  border-bottom: 10px solid black;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.home {
  flex: none;
}

nav {
  display: flex;
  align-items: center;
}

aside {
  display: flex;
  width: 10%;
  border-right: 3px solid black;
  min-width: 155px;
  justify-content: right;
}

.about aside {
  padding-top: 20px;
}

nav ul {
  font-size: 120%;
  display: flex;
  flex-wrap: nowrap;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 74px;
  align-content: flex-start;
}

main section {
  display: flex;
  width: 90%;
  padding-left: 10px;
  line-height: 1.5;
  height: fit-content;
}

.about .portfolio .contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.first-project {
  display: flex;

  justify-content: center;
}

.other-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-projects img,
.first-project img {
  margin: 10px;
}

.first-project img {
  flex: 0 1 auto;
  min-width: 100px;
}

.contact {
  margin-bottom: 30px;
}

.contact section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact ul {
  flex-wrap: wrap;
  font-size: 120%;
  text-decoration: underline;
}

.bio {
  display: flex;
  flex: 0 0 65%;
  padding-top: 20px;
}

.pic {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  height: fit-content;
  max-height: 400px;
  max-width: 290px;
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(92, 19, 25);
}

section ul {
  display: flex;
}

footer {
  background-color: green;
  border-top: 10px solid black;
  padding: 5px;
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: fit-content;

  justify-content: center;
}

@media screen and (max-width: 992px) {
  /* Change the header color */
  header {
    background: #772014;
  }

  aside {
    min-width: 155px;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  /* Change the header color */
  header {
    background: #8ac4ff;
  }
  aside {
    min-width: 155px;
  }
}
